@font-face {
    font-family: "ConcertOne";
    src: url('../Fonts/ConcertOne-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Comfortaa";
    src: url('../Fonts/Comfortaa-VariableFont_wght.ttf');
}

html {
    height: 100%;
  }
  
  body {
    height: 100vh;
    width: 100%;
  }  

.navbar-brand{
    font-family: 'ConcertOne';
    font-size: 40px;
}

.navbar{
    background-color: rgb(92, 152, 204);
    position: absolute;
}

.bg-set{
    position: 0%, 0%, 50%, 50%;
   
}

.login{
    background-image: url(../Images/scribblebg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
}

.loginimg{
    background-image: url(../Images/kidspointing.png);
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 100vh;
}

section{
    font-family: 'Comfortaa';
    font-weight: bolder;
    height: 100vh;
}



form header{
    font-size: 40px;
    font-weight: bold;
}

.btn-sign{
    background-color: rgba(255, 68, 9, 1);
    color: white;
    width: 100%;
}

label{
    font-size: 20px;
}
 